<template>
    <v-footer class="pa-8">
        <div class="footer-info" style="font-family: 'SimSun', serif;">
            <p>作者：謝謹如、楊薇蓉</p>
            <p>聯絡資訊：<a href="mailto:your-email@example.com">your-email@example.com</a></p> <!-- 替換為實際聯絡資訊 -->
        </div>
    </v-footer>
</template>