<template>
    <div class="layout">
        <!-- Navbar -->
        <v-app>
            <Navbar />
            <div class="ts-divider pa-md-6"></div>
            <div class="ts-content is-vertically-padded">
                <div class="ts-container">
                    <main>
                        <!-- Main Content -->
                        <slot></slot>
                    </main>
                </div>
            </div>
        </v-app>
    </div>
</template>

<script>
import Navbar from "./Navbor.vue";
import Footer from "./Footer.vue";

export default {
    name: "layout",
    methods: {
    },
    components: {
        Navbar,
        Footer,
    },
};
</script>
