<template>
  <v-app-bar style="background-color: rgba(191, 243, 221, 1)" elevation="0">
    <template #title>
      <span class="text-h6" style="font-family: 'Georgia', serif; color: rgba(108, 122, 137, 0.9);">
        CalliAid
      </span>
    </template>

    <template v-if="$vuetify.display.mdAndUp" #append>
      <div class="hidden-sm-and-down">
        <v-btn v-for="(item, index) in menu" :key="item" :href="link[index]" class="mx-4"
          style="font-family: 'Georgia', serif; color: rgba(108, 122, 137, 0.9);" variant="text"
          @click="handleButtonClick(index)">
          {{ item }}
        </v-btn>
      </div>
    </template>
  </v-app-bar>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { computed } from 'vue';
import { usePage } from '@inertiajs/inertia-vue3';

const menu = ref(['Home', 'Discussion', 'Calligraphy', 'History', 'Login']);
const link = ref(['/', '/discussion', '/calligraphy', '/history', '/login']);
const activeIndex = ref(0);   // 預設選中 Home
const page = usePage();       // 獲取當前頁面的資訊
const Loginuser = computed(() => page.props.value.user);

onMounted(() => {
  console.log(Loginuser.value);
  if (!Loginuser.value) {
    menu.value = ['Home', 'Discussion', 'Login'];
    link.value = ['/', '/discussion', '/login'];
  } else {
    menu.value = ['Home', 'Discussion', 'Calligraphy', 'History', 'Logout'];
    link.value = ['/', '/discussion', '/calligraphy', '/history', '/logout'];
  }
});

</script>
