<template>
  <v-card max-width="600" height="500">
    <v-layout>
      <v-navigation-drawer absolute permanent>
        <v-list>
          <v-list-item subtitle="visitor@google.com" title="Visitor">
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list :lines="false" density="compact" nav>
          <v-list-item class="d-flex justify-start" v-for="(item, i) in items" :key="i" :value="item" color="primary">
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main style="height: 500px;"></v-main>
    </v-layout>
  </v-card>
</template>
<script>
export default {
  data: () => ({
    items: [
      { text: "Learning Progress" },
      { text: "Learn Calligraphy Copying" },
      { text: 'Study Report' },
    ],
  }),
}
</script>