<template>
    <Layout>
        <div class="page-content" sytle="width:100%">
            <v-row>
                <div class="d-flex justify-center" style="width:100%">
                    <div style="width: 95%;">
                        <v-text class="display-1" color="orange" style="font-size: 30px; color: gray;">評論頁面</v-text>
                        <v-divider :thickness="1"></v-divider>
                    </div>
                </div>
                <!-- 臨摹歷史資料顯示　-->
                <v-col v-for="(calligraphy, index) in calligraphies" :key="index" cols="12" md="3"
                    class="d-flex justify-center">
                    <v-card class="pa-4" style="width: 90%; max-width: 350px; border: 1px solid #ccc;" elevation="0">
                        <v-img :src="getImageSrc(calligraphy.imitated_img)" height="200" cover>
                            <v-card-title>{{ calligraphy.text }}</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pt-4" style="color: gray; font-size: 16px; font-weight: bold;">
                            臨摹字體：{{ calligraphy.calli_text }}
                        </v-card-subtitle>

                        <v-card-text class="d-flex justify-center pb-1">
                            <div> --- 臨摹作家 : {{ calligraphy.calli_person }} --- </div>
                        </v-card-text>
                        <v-card-actions class="d-flex justify-center">
                            <v-col cols="12">
                                <v-btn color="orange" outlined
                                    style="width: 100%; border: 0.1px solid orange; background-color: transparent;"
                                    @click="showDetail(calligraphy.id)">查看</v-btn>
                            </v-col>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
            <!-- 查看特定歷史紀錄內容 -->
            <v-dialog v-model="show" width="500">
                <v-card>
                    <v-card-title class="headline">查看歷史紀錄</v-card-title>
                    <v-card-text>
                        <v-row class="d-flex justify-center">
                            <v-col cols="6">
                                <v-img :src="getImageSrc(selectedCalligraphy.imitated_img)" height="200" width="200"
                                    cover>
                                    <v-card-title>{{ selectedCalligraphy.text }}</v-card-title>
                                </v-img>
                                <v-card-text class="d-flex justify-center pb-1">
                                    <div> 上傳文字</div>
                                </v-card-text>
                            </v-col>
                            <v-col cols="6">
                                <v-img :src="getImageSrc(selectedCalligraphy.imitated_img)" height="200" width="200"
                                    cover>
                                    <v-card-title>{{ selectedCalligraphy.text }}</v-card-title>
                                </v-img>
                                <v-card-text class="d-flex justify-center pb-1">
                                    <div> 名家文字</div>
                                </v-card-text>
                            </v-col>
                            <v-col cols="6">
                                <v-img :src="getImageSrc(selectedCalligraphy.imitated_img)" height="200" width="200"
                                    cover>
                                    <v-card-title>{{ selectedCalligraphy.text }}</v-card-title>
                                </v-img>
                                <v-card-text class="d-flex justify-center pb-1">
                                    <div> 疊圖結果</div>
                                </v-card-text>
                            </v-col>
                            <v-col cols="6">
                                <v-card subtitle="給予使用者客觀數值參考" title="臨摹評分" elevation="0">
                                    <v-card-text>
                                        <div> ssim: {{ selectedCalligraphy.ssim }}</div>
                                        <div> ahash: {{ selectedCalligraphy.ahash }}</div>
                                        <div> dhash: {{ selectedCalligraphy.dhash }}</div>
                                        <div> phash: {{ selectedCalligraphy.phash }}</div>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12">
                                <v-card-subtitle class="pt-4" style="color: gray; font-size: 16px; font-weight: bold;">
                                    臨摹字體：{{ selectedCalligraphy.calli_text }}
                                </v-card-subtitle>
                                <v-card-subtitle class="pt-4" style="color: gray; font-size: 16px; font-weight: bold;">
                                    臨摹作家：{{ selectedCalligraphy.calli_person }}
                                </v-card-subtitle>
                                <v-card-subtitle class="pt-4" style="color: gray; font-size: 16px; font-weight: bold;">
                                    作者資訊：{{ selectedCalligraphy.email }}
                                </v-card-subtitle>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-divider></v-divider>
                    <!--評論區-->
                    <v-for v-if="comments.length > 0" :key="index" :index="index" :comment="comment" in comments
                        class="pb-0">
                        <v-card v-for="(comment, index) in comments" :key="index" elevation="0"
                            style="width: 90%; border-radius: 3%; margin: 4% auto; border-color: gray; border-width: 0.1px">
                            <v-card-title class="headline pb-0">{{ comment.email }}</v-card-title>
                            <v-card-subtitle style="color: gray; font-size: 12px; font-weight: bold;">
                                {{ comment.created_at }}
                            </v-card-subtitle>
                            <v-card-text>
                                <div> {{ comment.content }}</div>
                            </v-card-text>
                        </v-card>
                    </v-for>
                    <div v-if="user">
                        <!--發布評論-->
                        <v-row class="d-flex justify-center align-center" style="margin: 20px;">
                            <v-textarea v-model="UseComment" style="width:80%;" label="發表評論" row-height="15" rows="3"
                                variant="outlined" auto-grow>
                            </v-textarea>
                        </v-row>
                        <v-card-actions class="d-flex justify-center">
                            <v-col class="6">
                                <v-btn color="orange"
                                    style="width: 100%; border: 0.1px solid orange; background-color: transparent;" text
                                    @click="sendComment">送出</v-btn>
                            </v-col>
                            <v-col class="6">
                                <v-btn color="orange"
                                    style="width: 100%; border: 0.1px solid orange; background-color: transparent;" text
                                    @click="show = false">關閉</v-btn>
                            </v-col>
                        </v-card-actions>
                    </div>
                </v-card>
            </v-dialog>
        </div>
    </Layout>
</template>
<script setup>
import Layout from '../../component/Layout.vue'; // 外部引入 Layout
import { defineProps, onMounted, ref } from 'vue';
import axios from 'axios';

const show = ref(false);
const id = ref(0);
const selectedCalligraphy = ref(null);
const UseComment = ref('');
const comments = ref([]);
const props = defineProps({
    calligraphies: Object,
    user: Object
});

const getImageSrc = (path) => {
    // 確認路徑是以 "public/" 開頭，然後替換成 "storage/"
    if (path.startsWith('public/')) {
        return path.replace('public/', '/storage/');
    }
    return path;
};

const showDetail = async (calligraphy_id) => {
    id.value = calligraphy_id;
    // 找出選擇的臨摹資料
    for (let i = 0; i < props.calligraphies.length; i++) {
        if (props.calligraphies[i].id === calligraphy_id) {
            selectedCalligraphy.value = props.calligraphies[i];
            break;
        }
    }
    // 向後端請求評論
    try {
        const response = await axios.post('/getComment', {
            calli_id: calligraphy_id
        });
        comments.value = response.data;
    } catch (error) {
        console.log(error);
    }
    show.value = true;
};

onMounted(() => {
    console.log(props.user);
});
const sendComment = () => {
    axios.post('/addComment', {
        calli_id: id.value,
        comment: UseComment.value
    }).then((response) => {
        alert(response.data.message);
        window.location.reload();
    }).catch((error) => {
        console.log(error);
    });
}

</script>

<style>
.page-content {
    padding-top: 64px;
    /* Adjust according to your navbar height */
}

v-text,
.v-btn,
.v-card-text,
.v-card-title,
.v-card-subtitle {
    font-family: 'SimSun', '宋体', serif;
}
</style>