<template>
  <Layout>
    <!-- 上方白色區域 -->
    <v-sheet class="d-flex justify-center align-center text-center flex-column" color="white" min-height="250">
      <!-- SVG Icon 放置 -->
      <svg enable-background="new 0 0 100 100" height="200px" id="Layer_1" version="1.1" viewBox="0 0 100 100"
        width="200px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g>
          <path
            d="M44.768,68.255L55.742,46.29l2.467,2.466l10.727-7.705l-1.166-1.624l-9.348,6.713L42.65,30.37l6.646-9.279l-1.627-1.164   l-7.633,10.658l2.473,2.473L20.537,44.025l-0.029,0.583c-0.502,9.815-1.479,20.742-6.752,26.186L13.07,71.5l1.482,1.482v0   l1.414,1.414v0l1.338,1.337l0.707-0.709c5.23-5.25,15.797-6.208,26.172-6.74L44.768,68.255z M17.859,72.505l13.74-13.74   c1.094,0.469,2.41,0.261,3.303-0.632c1.172-1.171,1.17-3.071,0-4.243c-1.172-1.17-3.07-1.171-4.242,0.001   c-0.951,0.951-1.117,2.377-0.523,3.509L15.969,71.569l-0.115-0.114c5.072-5.986,6.111-16.54,6.621-26.161L44,34.548l10.252,10.25   L43.5,66.318C33.662,66.838,23.73,67.825,17.859,72.505z" />
          <rect height="2" width="64" x="22.93" y="78.073" />
        </g>
      </svg>
    </v-sheet>
    <!-- 下方綠色區域 -->
    <v-sheet class="d-flex justify-center align-center text-center flex-column"
      style="background-color: rgba(191, 243, 221, 0.9);" min-height="300">
      <!-- 標題文字 -->
      <div class="text-h3 font-weight-medium mb-5"
        style="font-family: 'SimSun', sans-serif; font-size: 2rem; color: rgba(108, 122, 137, 0.9);">
        歡迎使用書法臨摹輔助系統
      </div>
      <!-- 兩個 Chip 按鈕 -->
      <div class="d-flex justify-center ga-2">
        <v-chip class="ma-2" color="primary" variant="outlined" style="font-family: 'Georgia' , sans-serif; ">
          GenAI
        </v-chip>
        <v-chip class=" ma-2" color="success" variant="outlined" style="font-family: 'SimSun' , sans-serif; ">
          基於深度學習的書法臨摹輔助系統
        </v-chip>
      </div>
    </v-sheet>
  </Layout>
</template>

<script setup>
import Layout from '../component/Layout.vue'; // 外部引入 Layout
</script>