<template>
    <Layout>
        <div class="text-center pa-4">
            <v-dialog v-model="login" max-width="400px" persistent scrollable>
                <v-card style="overflow: hidden;">
                    <v-card-title class="justify-center">登入</v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" class="d-flex justify-center">
                                <v-text-field v-model="email" label="Email" type="email" flat required></v-text-field>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-center">
                                <v-text-field v-model="password" label="Password" type="password" flat
                                    required></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-row class="w-100">
                            <v-col cols="4">
                                <v-btn outlined color="orange" block @click="turnToRegisterPage">第一次登入</v-btn>
                            </v-col>
                            <v-col cols="4">
                                <v-btn outlined color="orange" block @click="sendToLogin">送出</v-btn>
                            </v-col>
                            <v-col cols="4">
                                <v-btn outlined color="orange" block @click="returnToPreviousPage">返回首頁</v-btn>
                            </v-col>
                        </v-row>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="register" max-width="400px" persistent>
                <v-card style="overflow: hidden;">
                    <v-card-title class="justify-center">註冊</v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" class="d-flex justify-center">
                                <v-text-field v-model="username" label="Username" flat required></v-text-field>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-center">
                                <v-text-field v-model="email" label="Email" type="email" flat required></v-text-field>
                            </v-col>
                            <v-col cols="12" class="d-flex justify-center">
                                <v-text-field v-model="password" label="Password" type="password" flat
                                    required></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-row class="w-100">
                            <v-col cols="4">
                                <v-btn outlined color="orange" block @click="turnToLoginPage">返回登入</v-btn>
                            </v-col>
                            <v-col cols="4">
                                <v-btn outlined color="orange" block @click="sendToregister">送出</v-btn>
                            </v-col>
                            <v-col cols="4">
                                <v-btn outlined color="orange" block @click="returnToPreviousPage">返回首頁</v-btn>
                            </v-col>
                        </v-row>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </Layout>
</template>

<script setup>
import axios from 'axios';
import Layout from '../component/Layout.vue'; // 外部引入 Layout
import { ref } from 'vue';
const login = ref(true);
const register = ref(false);
const returnToPreviousPage = () => {
    window.location.href = '/';
};
const turnToRegisterPage = () => {
    login.value = false;
    register.value = true;
};
const turnToLoginPage = () => {
    login.value = true;
    register.value = false;
};
const email = ref('');
const password = ref('');
const username = ref('');

const sendToregister = async () => {
    try {
        const token = document.head.querySelector('meta[name="csrf-token"]');
        if (!token) {
            alert("CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token")
            return;
        }
        const response = await axios.post('/register/send', {
            email: email.value,
            password: password.value,
            username: username.value,
        }, {
            headers: {
                'Content-Type': 'multipart/form-data', // 設置 Content-Type 為 multipart/form-data
                'X-CSRF-TOKEN': token.content,
            },
        });
        if (response.status === 200) {
            window.location.href = '/history';
        } else {
            alert('註冊失敗');
            window.location.reload();
        }
    } catch (error) {
        console.error(error);
    }
};

const sendToLogin = async () => {
    try {
        const token = document.head.querySelector('meta[name="csrf-token"]');
        if (!token) {
            alert("CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token")
            return;
        }
        const response = await axios.post('/login/send', {
            email: email.value,
            password: password.value,
        }, {
            headers: {
                'Content-Type': 'multipart/form-data', // 設置 Content-Type 為 multipart/form-data
                'X-CSRF-TOKEN': token.content,
            },
        });
        if (response.status === 200) {
            window.location.href = '/history';
        } else {
            alert('登入失敗');
            window.location.reload();
        }
    } catch (error) {
        console.error(error);
    }
};
</script>

<style>
v-text,
.v-btn,
.v-card-text,
.v-card-title,
.v-card-subtitle {
    font-family: 'SimSun', '宋体', serif;
}
</style>
