<template>
    <Layout>
        <div class="page-content" sytle="width:100%">
            <v-row>
                <div class="d-flex justify-center" style="width:100%">
                    <div style="width: 95%;">
                        <v-text class="display-1" color="orange" style="font-size: 30px; color: gray;">歷史頁面</v-text>
                        <v-divider :thickness="1"></v-divider>
                    </div>
                </div>
                <!-- 臨摹歷史資料顯示　-->
                <v-col v-for="(calligraphy, index) in calligraphies" :key="index" cols="12" md="3"
                    class="d-flex justify-center">
                    <v-card class="pa-4" style="width: 90%; max-width: 350px; border: 1px solid #ccc;" elevation="0">
                        <v-img :src="getImageSrc(calligraphy.imitated_img)" height="200" cover>
                            <v-card-title>{{ calligraphy.text }}</v-card-title>
                        </v-img>
                        <v-card-subtitle class="pt-4" style="color: gray; font-size: 16px; font-weight: bold;">
                            臨摹字體：{{ calligraphy.calli_text }}
                        </v-card-subtitle>

                        <v-card-text class="d-flex justify-center pb-1">
                            <div> --- 臨摹作家 : {{ calligraphy.calli_person }} --- </div>
                        </v-card-text>
                        <v-card-actions class="d-flex justify-center">
                            <v-col cols="6">
                                <v-btn v-if="!calligraphy.share" color="orange" outlined
                                    style="width: 100%; border: 0.1px solid orange; background-color: transparent;"
                                    @click="shareOrNot(calligraphy.id)">分享</v-btn>
                                <v-btn v-if="calligraphy.share" color="orange" outlined
                                    style="width: 100%; border: 0.1px solid orange; background-color: transparent;"
                                    @click="shareOrNot(calligraphy.id)">收回分享</v-btn>
                            </v-col>
                            <v-col cols="6">
                                <v-btn color="orange" outlined
                                    style="width: 100%; border: 0.1px solid orange; background-color: transparent;"
                                    @click="showDetail(calligraphy.id)">查看</v-btn>
                            </v-col>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
            <!-- 查看特定歷史紀錄內容 -->
            <v-dialog v-model="show" width="500">
                <v-card>
                    <v-card-title class="headline">查看歷史紀錄</v-card-title>
                    <v-card-text>
                        <v-row class="d-flex justify-center">
                            <v-col cols="6">
                                <v-img :src="getImageSrc(selectedCalligraphy.imitated_img)" height="200" width="200"
                                    cover>
                                    <v-card-title>{{ selectedCalligraphy.text }}</v-card-title>
                                </v-img>
                                <v-card-text class="d-flex justify-center pb-1">
                                    <div> 上傳文字</div>
                                </v-card-text>
                            </v-col>
                            <v-col cols="6">
                                <v-img :src="getImageSrc(selectedCalligraphy.imitated_img)" height="200" width="200"
                                    cover>
                                    <v-card-title>{{ selectedCalligraphy.text }}</v-card-title>
                                </v-img>
                                <v-card-text class="d-flex justify-center pb-1">
                                    <div> 名家文字</div>
                                </v-card-text>
                            </v-col>
                            <v-col cols="6">
                                <v-img :src="getImageSrc(selectedCalligraphy.imitated_img)" height="200" width="200"
                                    cover>
                                    <v-card-title>{{ selectedCalligraphy.text }}</v-card-title>
                                </v-img>
                                <v-card-text class="d-flex justify-center pb-1">
                                    <div> 疊圖結果</div>
                                </v-card-text>
                            </v-col>
                            <v-col cols="6">
                                <v-card subtitle="給予使用者客觀數值參考" title="臨摹評分" elevation="0">
                                    <v-card-text>
                                        <div> ssim: {{ selectedCalligraphy.ssim }}</div>
                                        <div> ahash: {{ selectedCalligraphy.ahash }}</div>
                                        <div> dhash: {{ selectedCalligraphy.dhash }}</div>
                                        <div> phash: {{ selectedCalligraphy.phash }}</div>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12">
                                <v-card-subtitle class="pt-4" style="color: gray; font-size: 16px; font-weight: bold;">
                                    臨摹字體：{{ selectedCalligraphy.calli_text }}
                                </v-card-subtitle>
                                <v-card-subtitle class="pt-4" style="color: gray; font-size: 16px; font-weight: bold;">
                                    臨摹作家：{{ selectedCalligraphy.calli_person }}
                                </v-card-subtitle>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="orange" text @click="show = false">關閉</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </Layout>
</template>
<script setup>
import Layout from '../../component/Layout.vue'; // 外部引入 Layout
import { defineProps, ref } from 'vue';
import axios from 'axios';

const show = ref(false);
const id = ref(0);
const selectedCalligraphy = ref(null);
const props = defineProps({
    calligraphies: Object
});

const getImageSrc = (path) => {
    // 確認路徑是以 "public/" 開頭，然後替換成 "storage/"
    if (path.startsWith('public/')) {
        return path.replace('public/', '/storage/');
    }
    return path;  // 如果不是以 public 開頭，就返回原始路徑
};

const shareOrNot = (calligraphy_id) => {
    axios.post('/shareOrNot', {
        id: calligraphy_id
    }).then((response) => {
        alert(response.data.message);
        window.location.reload();
    }).catch((error) => {
        alert("分享失敗");
    });
};

const showDetail = (calligraphy_id) => {
    id.value = calligraphy_id;
    for (let i = 0; i < props.calligraphies.length; i++) {
        if (props.calligraphies[i].id === calligraphy_id) {
            selectedCalligraphy.value = props.calligraphies[i];
            break;
        }
    }
    show.value = true;
};

</script>

<style>
.page-content {
    padding-top: 64px;
    /* Adjust according to your navbar height */
}

v-text,
.v-btn,
.v-card-text,
.v-card-title,
.v-card-subtitle {
    font-family: 'SimSun', '宋体', serif;
}
</style>