<template>
    <Layout>
        <div class="text-center pa-4">
            <v-container>
                <v-row>
                    <v-col cols="6">
                        <v-card elevation="0" class="d-flex flex-column justify-center" style="height: 300px;">
                            <v-img class="bg-grey-lighten-2" height="270" :src="imitatedSrc">
                                <template v-slot:placeholder>
                                    <div class="d-flex align-center justify-center fill-height">
                                        <v-progress-circular color="grey-lighten-4" indeterminate></v-progress-circular>
                                    </div>
                                </template>
                            </v-img>
                            <v-card-title class="text-h6">
                                --- 使用者臨摹字體 ---
                            </v-card-title>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card elevation="0" class="d-flex flex-column justify-center" style="height: 300px;">
                            <v-img class="bg-grey-lighten-2" height="270" :src="generatedSrc">
                                <template v-slot:placeholder>
                                    <div class="d-flex align-center justify-center fill-height">
                                        <v-progress-circular color="grey-lighten-4" indeterminate></v-progress-circular>
                                    </div>
                                </template>
                            </v-img>
                            <v-card-title class="text-h6 text-center">
                                --- 名家字體 ---
                            </v-card-title>
                        </v-card>
                    </v-col>
                </v-row>
                <!-- 檔案上傳結果 -->
                <v-row class="mt-2" v-if="status == 0">
                    <v-col cols="6">
                        <!-- 檔案上傳 -->
                        <v-file-input v-model="files" :show-size="1000" color="deep-purple-accent-4" label="上傳檔案"
                            placeholder="上傳檔案" variant="outlined">
                            <template v-slot:selection="{ fileNames }">
                                <template v-for="(fileName, index) in fileNames" :key="fileName">
                                    <v-chip v-if="index < 2" class="me-2" color="deep-purple-accent-4" size="small"
                                        label>
                                        {{ fileName }}
                                    </v-chip>
                                </template>
                            </template>
                        </v-file-input>
                        <!-- 檔案上傳結束 -->
                    </v-col>
                    <v-col cols="6">
                        <v-combobox v-model="select" :items="items" label="選擇名家" placeholder="選擇名家" variant="outlined">
                            <template v-slot:selection="data">
                                <v-chip :key="JSON.stringify(data.item)" v-bind="data.attrs" :disabled="data.disabled"
                                    :model-value="data.selected" size="small"
                                    @click:close="data.parent.selectItem(data.item)">
                                    <template v-slot:prepend>
                                        <v-avatar class="bg-accent text-uppercase" start>{{ data.item.title.slice(0,
                                            1) }}</v-avatar>
                                    </template>
                                    {{ data.item.title }}
                                </v-chip>
                            </template>
                        </v-combobox>
                    </v-col>
                </v-row>
                <v-row align="center" justify="center" v-if="status == 0">
                    <v-btn :loading="loading" class="flex-grow-1" height="48" variant="tonal" @click="uploadCorfirm"
                        color="primary">
                        送出
                    </v-btn>
                </v-row>
                <!--顯示結果-->
                <v-row v-if="status == 1">
                    <v-col cols="6">
                        <v-card elevation="0" class="d-flex flex-column justify-center" style="height: 300px;">
                            <v-img class="bg-grey-lighten-2" height="270" :src="overlaySrc">
                                <template v-slot:placeholder>
                                    <div class="d-flex align-center justify-center fill-height">
                                        <v-progress-circular color="grey-lighten-4" indeterminate></v-progress-circular>
                                    </div>
                                </template>
                            </v-img>
                            <v-card-title class="text-h6">
                                臨摹結果
                            </v-card-title>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card elevation="0" class="d-flex flex-column justify-center"
                            style="height: 300px;border-width:0.05px;">
                            <v-card-title class="headline">查看歷史紀錄</v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12">
                                        <v-card subtitle="給予使用者客觀數值參考" title="臨摹評分" elevation="0">
                                            <v-card-text>
                                                <div> ssim: {{ calligraphy.ssim }}</div>
                                                <div> ahash: {{ calligraphy.ahash }}</div>
                                                <div> dhash: {{ calligraphy.dhash }}</div>
                                                <div> phash: {{ calligraphy.phash }}</div>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    </Layout>
</template>
<script setup>
import Layout from '../../component/Layout.vue';
import { ref } from 'vue';

// 0 : 未上傳 ; 1 : 上傳成功
const imitatedSrc = ref(null);
const generatedSrc = ref(null);
const overlaySrc = ref(null);
const status = ref(0);
const files = ref([]);
const select = ref(null);
const items = ref([
    "顏真卿",
    "柳公權",
    "歐陽修",
]);
const calligraphy = ref(null);

// 上傳確認
const uploadCorfirm = function () {
    let formData = new FormData();
    let uploadFile = files.value[0];
    formData.append('file', uploadFile);
    // 檢查文件+名家是否為空
    if (files === undefined || select.value === null) {
        alert('Please upload a file and select a person');
        return;
    }
    // 檢查上傳文件 : 小於10MB + 256x256 + PNG
    const isPNG = uploadFile.type === 'image/png';
    const isSmall = uploadFile.size < 10 * 1024 * 1024;
    // 檢查名家名字是否在名單中
    const isRightPeople = items.value.includes(select.value);
    if (isPNG && isSmall && isRightPeople) {
        upload();
    } else {
        alert('Please upload a PNG file smaller than 10MB');
        return;
    }
};

// 上傳
const upload = async function () {
    try {
        const token = document.head.querySelector('meta[name="csrf-token"]');
        if (!token) {
            alert("CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token")
            return;
        }
        let formData = new FormData();
        let uploadFile = files.value[0];
        formData.append('file', uploadFile);
        formData.append('select', select.value);
        const response = await axios.post('/upload', formData, {
            headers: {
                'Content-Type': 'multipart/form-data', // 設置 Content-Type 為 multipart/form-data
                'X-CSRF-TOKEN': token.content,
            },
        });
        if (response.status === 200) {
            calligraphy.value = response.data.calligraphy;
            console.log(calligraphy.value);
            // 更新圖片
            if (calligraphy.value.imitated_img) {
                imitatedSrc.value = getImageSrc(calligraphy.value.imitated_img);
            }
            if (calligraphy.value.generated_img) {
                generatedSrc.value = getImageSrc(calligraphy.value.generated_img);
            }
            if (calligraphy.value.comparing_img) {
                overlaySrc.value = getImageSrc(calligraphy.value.comparing_img);
            }
            status.value = 1;
        } else {
            alert('Upload failed');
        }
    } catch (error) {
        console.error(error);
    }
}

// 取得圖片路徑
const getImageSrc = (path) => {
    // 確認路徑是以 "public/" 開頭，然後替換成 "storage/"
    if (path.startsWith('public/')) {
        return path.replace('public/', '/storage/');
    }
    return path;  // 如果不是以 public 開頭，就返回原始路徑
};
</script>

<style>
v-text,
.v-btn,
.v-file-input,
.v-btn,
.v-combobox,
.v-card-text,
.v-card-title,
.v-card-subtitle {
    font-family: 'SimSun', '宋体', serif;
}

.v-input__prepend {
    display: none;
    /* 隱藏 prepend 元素 */
}
</style>